<a href="#job/<%= JobID %>">
    <div class="gung text-muted row mt-3 ml-2 mr-2 bg-light p-4 " style="background:#fff; box-shadow:0 2px 3px #ccc; color:#ccc;">
        <div class="col-sm-auto">
            <span class="mt-2 fa text-muted fa-briefcase fa-3x" aria-hidden="true"></span>
        </div>
        <div class="col-sm-auto ml-4">
            <strong class="text-muted"><%= JobTitle %></strong>
            <p>
                <%= JobDescription %>
            </p>
        </div>
    </div>
</a>