<div class="gung text-muted row mt-3 ml-2 mr-2 bg-light p-4 " style="background:#fff; box-shadow:0 2px 3px #ccc; color:#ccc;">
    <a name="delete" class="hapus text-danger" style="left: 339px;position: sticky;" value="<%= UserID %>">
        <span class="fa fa-trash fa-2x"></span></a>
    <div class="col-sm-auto ml-4">
        <a href="#admin/<%= UserID %>"><strong class="text-muted"><%= FirstName %> <%= LastName %></strong>
        <p class="text-muted">Username :
            <%= UserName %>
                <br/>Role :
                <%= Role.Description %>
        </p></a>
    </div>
</div>