<div class="row">
    <div class="col col-3">
        <a class="navbar-brand" name="goback"><span class="fa fa-compass "></span></a>
    </div>
    <div class="col col-6 text-center align-text-bottom">
        <h5 name="title">Home</h5>
    </div>
    <div class="col col-3 text-right">
        <a class="navbar" name="logout"><span class="fa fa-sign-out" aria-hidden="true"></span></a>
    </div>
</div>