<!-- <div class="row">
    <div class="col col-3">
        <a class="col-auto navbar-brand text-gray-dark" href="#job"><span class="fa fa-home fa-2x"></span></a>
    </div>
    <div class="col col-3">
        <a class="col-auto navbar-brand text-gray-dark" href="#bookmark"><span class="fa fa-book fa-2x"></span></a>
    </div>
    <div class="col col-3">
        <a class="col-auto navbar-brand text-gray-dark" href="#"><span class="fa fa-weixin fa-2x"></span></a>
    </div>
    <div class="col col-3">
        <a class="col-auto navbar-brand text-gray-dark" href="#personalInfo"><span class="fa fa-user-circle-o fa-2x"></span></a>
    </div>
    <div class="col col-3">
        <a class="col-auto navbar-brand text-gray-dark" href="#personalInfo"><span class="fa fa-user-circle-o fa-2x"></span></a>
    </div>
</div>



<div style="overflow: auto; display: flex;">
    <button><span class="fa fa-home fa-2x"></span></button>
    <button><span class="fa fa-home fa-2x"></span></button>
    <button><span class="fa fa-home fa-2x"></span></button>
    <button><span class="fa fa-home fa-2x"></span></button>
    <button><span class="fa fa-home fa-2x"></span></button>
    <button><span class="fa fa-home fa-2x"></span></button>
    <button><span class="fa fa-home fa-2x"></span></button>
    <button><span class="fa fa-home fa-2x"></span></button>
    <button><span class="fa fa-home fa-2x"></span></button>
    <button><span class="fa fa-home fa-2x"></span></button>
    <button><span class="fa fa-home fa-2x"></span></button>
</div> -->
<div style="overflow: auto; display: flex;" id="nav">
    <div class="col col-3">
        <a class="col-auto navbar-brand text-gray-dark" href="#job" name="home"><span class="fa fa-home fa-2x"></span></a>
    </div>
    <div class="col col-3">
        <a class="col-auto navbar-brand text-gray-dark" href="#bookmark"><span class="fa fa-book fa-2x"></span></a>
    </div>
    <div class="col col-3">
        <a class="col-auto navbar-brand text-gray-dark" href="#"><span class="fa fa-weixin fa-2x"></span></a>
    </div>
    <div class="col col-3">
        <a class="col-auto navbar-brand text-gray-dark" href="#personalInfo"><span class="fa fa-user-circle-o fa-2x"></span></a>
    </div>
    <div class="col col-3">
        <a class="col-auto navbar-brand text-gray-dark" href="#admin"><span class="fa fa-address-book fa-2x"></span></a>
    </div>
</div>