<div class="row">
    <div class="col-md-4 bg-white pt-5 pb-1  m-auto mt-4">
        <form>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" class="form-control rounded-0 p-3 border-0" placeholder="Enter username" name="UserName" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" class="form-control m-auto text-center rounded-0 p-3 bg-light border-0" style="width: 50%;background: #ccc;" placeholder="Enter confirmation key" name="ConfirmationCode " />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="password" class="form-control rounded-0 p-3 border-0" placeholder="Enter NewPassword" name="NewPassword" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="password" class="form-control rounded-0 p-3 border-0" placeholder="Enter confirmation password" name="ConfirmPassword" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-block btn-outline-primary rounded-0 p-3" name="signin">Reset</button>
                    </p>not have a account<a href="#register">  here</a>
                </div>
            </div>
        </form>
    </div>
</div>