<div class="container text-muted" style="margin-top: 65px;margin-bottom: 75px;">
    <div class="row m-3 rounded" style="background:#fff; border:1px solid #ccc;">
        <div class="col-lg-auto m-auto">
            <div class="col-sm-auto rounded-circle  m-2 text-center p-4 mt-4 mb-4" style="border:5px double #fff; background:#e8e5e5;">
                <label> <span class="fa fa-camera fa-4x"></span>
                    <input type="file" name="PhotoURL" style="display: none; " />
                </label>
            </div>
        </div>
        <div class="col-md-4 ml-3" style="color:#999;">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter FirstName" name="FirstName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter LastName" name="LastName">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="date" class="form-control px-4 py-3 border-0" placeholder="Enter DateOfBirth" name="DateOfBirth">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter PlaceOfBirth" name="PlaceOfBirth">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" class="form-control px-4 py-3 border-0" placeholder="Enter Height" name="Height">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" class="form-control px-4 py-3 border-0" placeholder="Enter Weight" name="Weight">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" class="form-control px-4 py-3 border-0" placeholder="Enter ExpectedSalary" name="ExpectedSalary">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style type="text/css">
input[type="text"],
input[type="date"],
input[type="number"] {
    background: #f8f8f8;
    box-shadow: 1px 2px 1px #e3e5e6;
    transition: all 0.8s ease;
}
</style>