<!-- <div class="container" style="margin-top:65px; margin-bottom:75px;"> -->
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="email" class="form-control px-4 py-3 border-0"  placeholder="Enter emai" name="Email">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter first name" name="FirstName">
            </div>
        </div>
      </div>
    <div class="row ">

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control px-4 py-3 border-0"  placeholder="Enter last name" name="LastName">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="password" class="form-control px-4 py-3 border-0"  placeholder="Enter password" name="password">
            </div>
        </div>
    </div>
    <div class="row ">

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter confirm password" name="ConfirmPassword">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select name="RegisterAs" class="form-control px-4  border-0" >
                    <option value="1">Candidate</option>
                    <option value="2">Hiring Manager</option>
                    <option value="3">Admin</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row ">

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control px-4 py-3 border-0"  placeholder="Enter address" name="Address1">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control px-4 py-3 border-0"  placeholder="Enter state" name="State">
            </div>
        </div>
    </div>
    <div class="row ">

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter post code" name="PostCode">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control px-4 py-3 border-0"  placeholder="Enter city" name="City">
            </div>
        </div>
    </div>
    <div class="row ">

        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control px-4 py-3 border-0"  placeholder="Enter latitude" name="Latitude">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control px-4 py-3 border-0"  placeholder="Enter longtitude" name="Longtitude">
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block">
            </div>
        </div>
    </div>
</form>
<!-- </div> -->