<div class="container text-muted" style="margin-top: 65px;margin-bottom: 75px;">
    <div class="row m-3 rounded" style="background:#fff; border:1px solid #ccc;">
        <div class="col-lg-auto m-auto">
            &nbsp;
        </div>
        <div class="col-md-4 ml-3" style="color:#999;">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter FirstName" name="FirstName" value="<%= FirstName %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter LastName" name="LastName" value="<%= LastName %>">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter UserName" name="UserName" value="<%= UserName %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style type="text/css">
input[type="text"],
input[type="date"],
input[type="number"] {
    background: #f8f8f8;
    box-shadow: 1px 2px 1px #e3e5e6;
    transition: all 0.8s ease;
}
</style>