<div class="container text-muted" style="margin-top: 65px;margin-bottom: 75px;">
    <div class="row m-3 rounded" style="background:#fff; border:1px solid #ccc;">
        <div class="col-lg-auto m-auto">
            <div class="col-sm-auto rounded-circle  m-2 text-center p-4 mt-4 mb-4" style="border:5px double #fff; background:#e8e5e5;">
                <span class="fa fa-camera fa-4x"></span>
            </div>
        </div>
        <div class="col-md-4 ml-3" style="color:#999;">
            <ul class="list-unstyled">
                <li>
                    <h4 style="color:#666;"><%= ResultList.JobTitle %></h4></li>
                <li>
                    <%= ResultList.Address1 %>
                </li>
                <li>
                    <%= ResultList.JobDescription %>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="row text-center">
                <div class="col col-6 border-bottom-0 border-left-0 p-2" style="border:1px solid #ccc;">
                    <a id="bookmark"><span class="fa fa-bookmark-o fa-2x"></span></a>
                </div>
                <div class="col col-6 border-bottom-0 border-right-0 p-2" style="border:1px solid #ccc;">
                    <strong><span>Apply</span></strong>
                </div>
            </div>
        </div>
    </div>
</div>