<button class="btn btn-link" type="button" tabindex="-1" title="first" obo-first>
	<img>
</button>
<button class="btn btn-link" type="button" tabindex="-1" title="previous" obo-previous>
	<img>
</button>
<input class="form-control" type="number" name="Page" style="width: 5rem; display: inline;" min="1" max="1"> of <label name="TotalPage"></label>
<button class="btn btn-link" type="button" tabindex="-1" title="next" obo-next>
	<img>
</button>
<button class="btn btn-link" type="button" tabindex="-1" title="last" obo-last>
	<img>
</button>
