<div class="container text-muted" style="margin-top: 65px;margin-bottom: 75px;">
    <div class="row m-3 rounded" style="background:#fff; border:1px solid #ccc;">
        <div class="col-lg-auto m-auto">&nbsp; </div>
        <div class="col-md-4 ml-3" style="color:#999;">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter JobTitle" name="JobTitle">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter first address" name="Address1">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter second address" name="Address2">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter Country" name="Country">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" class="form-control px-4 py-3 border-0" placeholder="Enter PostCode" name="PostCode">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter City" name="City">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter State" name="State">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control px-4 py-3 border-0" placeholder="Enter JobDescription" name="JobDescription">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select name="IndustryID" class="form-control px-4  border-0">
                                <option value="1">industry</option>
                                <option value="2">Hiring Manager</option>
                                <option value="3">Admin</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style type="text/css">
input[type="text"],
input[type="date"],
input[type="number"],
select {
    background: #f8f8f8;
    box-shadow: 1px 2px 1px #e3e5e6;
    transition: all 0.8s ease;
}
</style>